.wallx-bg{
    background-color: rgb(70, 64, 185);
}
.wallx-bgx{
    background-color: #716dc4;
}
.wallx-bgg{
    background-color: #716dc4;
}

.wallx-typo{
    color: #ffffff;
}

.wallx-typos{
    color: #cac6c6;
}

.footer{
    display: flex;
    justify-content: center;
    text-align: center;
}

.wallx-headers{
    font-weight: 300 !important;
}

.waitlist-header{
    font-size: 5rem !important;
    font-weight: 600 !important;
}
.waitlist-writeup{
    font-size: 2rem !important;
    font-weight: 400 !important;
}
